<?xml version="1.0"?>

<model>
  <name>Lidar_laser</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Hubert Szolc</name>
    <email>szolc@agh.edu.pl</email>
  </author>

  <description>
    Simple 1D LiDAR (laser) for measuring distance with box for visualisation.
  </description>
</model>
